@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F8FAFC; /* Slate 50 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Garante que o scroll mobile seja suave e sem bounce estranho */
  overscroll-behavior-y: contain;
}
